<div class="header">
  <div class="product">
    <en-product-logo
      data-testid="product-logo"
      product="ec"
      width="50"
      height="50"
    ></en-product-logo>
    <div *ngIf="isLoggedIn" class="user-info">
      <!-- <app-user-details [initialData]="user" /> -->
    </div>
  </div>
</div>

<demo-app-navigation *ngIf="isLoggedIn" />
<router-outlet></router-outlet>

<div
  *ngIf="!isLoggedIn"
  class="container"
  style="
    background-color: var(--en-theme-color-background-surface-elevation-1);
    width: 400px;
    padding: 24px;
  "
>
  <en-heading tagname="h3">You are not logged in</en-heading>
  <en-link (click)="navigateToLogin()">Login</en-link>
</div>
